{% extends 'base.html' %}

{% block content %}
<!-- Main Section Start -->
<div class="main-section">
    <!-- 404 Page Start -->
    <div class="page-section nopadding cs-nomargin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-not-found">
                        <div class="cs-text">
                            <span class="cs-error">403</span>
                            <span>Forbidden</span>
                            <p>You are not authorized to view this page.</p>
                        </div>
                        <!-- <form>
                            <div class="input-holder">
                                <i class="icon-search"></i>
                                <input type="text" placeholder="Enter your keyword" class="form-control txt-bar">
                                <input type="submit" class="bgcolor" value="Search">
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 Page End -->
</div>
{% endblock %}